body {
    background-color: rgb(0, 0, 0);
}

button {
    background-color: lightblue
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
}

.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8); */
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 2px;
}

#app-grid-item {
    background-color: #fff9db;
    border-radius: 15px;
    height: 800px;
    width: 475px;
    margin: 0%;
    border: 0px;
    padding: 0%;
}

#menu-grid-item {
    background-color: #ffec99;
    margin: 0% 5% 0% 5%;
    border-radius: 15px;
}

#content-grid-item {
    background-color: #177e79;
    margin: 0% 5% 0% 5%;
    border-radius: 15px;
    height: 78%;
}

#header-content-item {
    background-color: rgb(98, 171, 231)
}

#daytime-content-item {
    background-color: rgb(#e9ecef);
    height: 13%;
    width: 100%;
}

#select-content-item {
    background-color: ghostwhite;
    height: 69%
}

#confirm-content-item {
    background-color: lightblue;
}

#confirmButton {
    height: 40px;
    width: 98%;
    border-radius: 20px;
}

.daytime-button {
    height: 75%;
    width: 50%;
    margin-top: 2%;

}

#daytime-button-day {
    border-start-start-radius: 75%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
    margin-right: -1%; 
}

#daytime-button-night {
    border-start-end-radius: 75%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    margin-left: -1%;
}   